.photo-box
    display flex
    margin 50px 0  0 100px
  img
    width 300px
    height 300px
    &:hover
      border 10px solid rgba(2,128,191,0.6)
      box-sizing border-box
      transition border 2s easy
