.lang
  width 88%
  margin 40px auto

  h2
    text-align left
    border-bottom 3px solid #000
    cursor pointer
  div
    cursor alias
    p
      font-size 18px
      width: 100%;
      margin: 10px 57%;

  .none
    display none

  .form
    input
      width 300px
      height 20px
      padding 0 10px
      border-radius 5px
      font-size 14px
      outline none

    button
      margin-left 20px
      border-radius 5px
      border-color #1e314f
      padding 5px 10px
      background #1e314f
      outline none
      color #fff
      cursor pointer

    .h2-new
      text-align center
      border-bottom 3px solid #000
      cursor pointer
      margin 0 auto
