.contact_me
  margin-left 30%
  line-height 30px

  ul
    list-style-type none
    padding 0
    li
      color #666
      padding 5px

      &:hover
        cursor pointer
        color #222

      &.check
        text-decoration line-through
      &.uncheck
          text-decoration none
